section#description {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100px;
  width: 240px;
  left: 850px;
}

h1#title {
  position: absolute;
  top: 10px;
  left: 237px;
  font-size: 48px;
}

h2#instructions {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
