section#drawing-controls {
  display: flex;
  flex-direction: column;
}

section#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button#clear-button, button#fill-button {
  text-align: center;
  font-size: 24px;
  padding: 5px 7px;
  border: 1px solid gray;
  width: 60px;
  margin: 10px auto;
  border-radius: 5px;
}

button#fullscreen {
  text-align: center;
  font-size: 18px;
  padding: 5px 7px;
  border: 1px solid gray;
  width: 200px;
  margin: 10px auto;
  border-radius: 5px;
}
