section#line-controls {
  display: flex;
  position: absolute;
  width: auto;
  top: 100px;
  left: 850px;
  flex-direction: column;
}

ul#color-palette {
  display: flex;
}

ul#color-palette li {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

ul#color-palette li:hover {
  cursor: pointer;
}

div#current-color {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
