header#header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1#title {
  font-size: 48px;
  text-shadow: 1px 1px 8px #000000;
  color: white;
}

canvas#canvas {
  background-color: black;
  border: 1px solid white;
}

canvas#canvas:hover {
  cursor: crosshair;
}

section#main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 100px;
}

section#text-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  height: 560px;
  padding: 10px;
  margin-left: 50px;
  background-color: white;
}
