html, body, section, div, input, button, canvas, h1, h2, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Cantora One';
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

html, body {
  width: 100%;
  height: 100%;
  position: fixed;
}

ul, li {
  list-style: none;
}
